<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.ust.ustac.team8.securepasswordmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InitActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".SchemeListActivity"
            android:label="@string/title_activity_scheme_list" >
        </activity>
        <activity
            android:name=".SchemeEditActivity"
            android:label="@string/title_activity_scheme_edit" >
        </activity>
        <activity
            android:name=".InformationInputActivity"
            android:label="@string/title_activity_information_input" >
        </activity>
    </application>

</manifest>
